.SideBarFooter {
  text-align: center;
  padding: 10px 0;
}

.SideBarFooter__add-button {
  background: none;
  border-radius: 50%;
  border: 2px solid #333;
  width: 40px;
  height: 40px;
  font-size: 1.3rem;
  color: #333;
  opacity: 0.6;
  cursor: pointer;
}