.SideBarHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.SideBarTitle {
  padding: 15px;
  color: #333;
  font-weight: 700;
}

.SideBarOpenBtn {
  padding: 15px;
  border: none;
  cursor: pointer;
}

.SideBar_open .SideBarTitle {
  opacity: 1;
}

.SideBar_close .SideBarTitle {
  opacity: 0;
  padding: 0;
  overflow: hidden;
}